@model BL.Emisor
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">LISTA GENERAL DE EMISORES</h1>
<br />
<hr />

<div>
    <table class="table tabletable-responsive table-striped">
        <thead>
            <tr>
                <th class="text-center"> EDITAR </th>
                <th class="text-center"> ID EMISOR </th>
                <th class="text-center"> RFC </th>
                <th class="text-center"> FECHA DE INICIO </th>
                <th class="text-center"> CAPITAL</th>
                <th class="text-center"> ELMINAR </th>
            </tr>
        </thead>
        <tbody>
            @foreach (BL.Emisor registro in Model.Emisores)
            {
                <tr>
                    <td class="text-center"> <a href="@Url.Action("Form","Emisor", new{ idEmisor= registro.IdEmisor})" class="btn btn-warning"> EDITAR</a> </td>
                    <td class="text-center">@registro.IdEmisor</td>
                    <td class="text-center">@registro.RFC </td>
                    <td class="text-center">@registro.FechaInicioOperaciones </td>
                    <td class="text-center">@registro.Capital</td>
                    <td class="text-center"> <a href="@Url.Action("Delete","Emisor", new{ idEmisor=registro.IdEmisor})" class="btn btn-danger"> ELIMINAR</a> </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a href="@Url.Action("Form","Emisor")" class="btn btn-outline-success"> AGREGAR EMISOR </a>

